<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HOME</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome To My App</h1>
        <p class="lead">
          This is a simple app that allow you to send email to anybody you want.
        </p>
        <hr class="my-4" />
        <p>
          It uses nodemailer to send email, express as a server framework, ejs
          as template engine and Joi as validator.
        </p>
        <a class="btn btn-primary btn-lg" href="/contact" role="button"
          >Click Here To Contact Someone</a
        >
      </div>
    </div>
  </body>
</html>
